<h5 class="text-center text-black manrope-xbold f-44">Welcome to Dashboard...!</h5>
<div class="row mt-5">
    <div class="col-md-12 mt-5">
      <div class="row px-2">
        
        <!-- Twiiter Handle visualization -->
        <div class="col-md-6 chart-pd-2 handlerChart" style="display:none;">
          <div class="card  profiler-card bg-grey-z border-dark-z">
            <div class="card-content mb-3">
              <div class="card-body">
                <div class="row chart-optimized-height">
                  <div id="handlerChart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
            <!-- Keywords visualization -->
            <div class="col-md-6 chart-pd-2 keywordChart" style="display:none;">
                <div class="card  profiler-card bg-grey-z border-dark-z">
                  <div class="card-content mb-3">
                    <div class="card-body">
                      <div class="row chart-optimized-height">
                        <div id="keywordChart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                 <!-- Youtube visualization -->
            <div class="col-md-12 chart-pd-2 youtubeChart mt-5" style="display:none;">
              <div class="card  profiler-card bg-grey-z border-dark-z">
                <div class="card-content">
                  <div class="card-body">
                    <div class="row chart-optimized-height">
                      <div id="youtubeChart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>