a{
    text-decoration: none;
    color: white !important;
  }
  .form-control:focus,
  .form-select:focus{
    border-color: rgb(16 73 95 / 0%);
    box-shadow: 0 0 0 0.25rem rgb(16 73 95 / 53%);
  }

  .table-striped tbody tr:hover{
    background: rgb(16 73 95 / 14%);
  }
  .table-striped thead tr{
    background: rgb(16 73 95);
  }
  .table-striped thead th{
    color: white;
  }

  .modal-header{
    background: rgb(16 73 95);
   }
  .modal-body{
    min-height: 100px;
  }
  ::ng-deep .modal-backdrop.show {
    z-index: 1044 !important;
  }