.mm-card {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(1.399999976158142px);
}

.mm-button {
  border-radius: 20px;
  background: linear-gradient(89deg, #f13910 1.92%, #e9b704 98.79%);
  border: unset;
  padding: 10px;
  align-items: center;
}

.mm-button:hover {
  background: linear-gradient(89deg, #e9b704 1.92%, #f13910 98.79%);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15),
    0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 7px 7px 0px rgba(0, 0, 0, 0.13),
    0px 16px 9px 0px rgba(0, 0, 0, 0.08), 0px 28px 11px 0px rgba(0, 0, 0, 0.02),
    0px 43px 12px 0px rgba(0, 0, 0, 0);
}

.chevron-custom {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(1.399999976158142px);
  backdrop-filter: blur(1.399999976158142px);
}

.mm-profile {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

/* m2m card end  */

/*///// m2m card type 2 /////*/
.mm-uper-img {
  border-radius: 8px;
  height: 7rem;
}

.chevron-only {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
}

@media only screen and (max-width: 1540px) {
  .mm-button {
    padding: 4px 8px;
  }

  .mm-button p {
    line-height: unset;
    font-size: 8px;
  }

  .chevron-custom {
    padding: 8px;
    width: 14px;
    height: 14px;
    font-size: 9px;
  }

  .fa-chevron-right:before {
    font-size: 9px;
  }

  /* Padding  */
  .pd-10 {
    padding: 5px;
  }

  .pd-16 {
    padding: 5px;
  }

  .pd-32 {
    padding: 16px;
  }

  .pd-layout {
    padding: 15px 16px 15px 16px;
  }

  .pd-layout2 {
    padding: 15px 0px 15px 16px;
  }

  /* GAP  */
  .cg-16 {
    column-gap: 8px;
  }

  .rg-16 {
    row-gap: 8px;
  }
}

@media only screen and (max-width: 1200px) {
  .fa-chavron-right::before {
    font-size: 12px;
  }

  .chevron-custom {
    padding: 9px;
    width: 14px;
    height: 14px;
    font-size: 9px;
  }

  .mm-button {
    padding: 2px;
  }

  .mm-button p {
    display: none;
  }

  .cg-16 {
    column-gap: 10px;
  }

  .mcard-body {
    height: 23rem;
  }

  .inland-activities .mm-card .f-12 {
    font-size: 11px;
  }
}

@media only screen and (max-width: 900px) {
  .pd-16 {
    padding: 6px;
  }
}

.custom-context-menu {
  position: absolute;
  top: 19%;
  z-index: 9999999 !important;
  background-color: #ffffffeb;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  left: 10%;
  height: 14rem;
}

.context-menu-header span {
  max-width: 15rem;
}

.custom-context-menu ul {
  padding: 0;
}

.custom-context-menu ul li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.custom-context-menu ul li:hover {
  background-color: #f4f4f4;
}

.context-menu-header {
  background-color: #fff;
  padding: 0.6rem 1rem;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.context-menu-header i {
  padding: 4px;
  cursor: pointer;
}

.custom-context-sublist {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  max-height: 150%;
  overflow-y: auto;
  left: 0;
  bottom: 0;
  background-color: #ffffffeb;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.custom-context-sublist.active {
  opacity: 1;
  width: 100%;
  height: auto;
}

.image-card {
  height: 350px;
}

.shashka-d-time {
  position: absolute;
  top: 4%;
  left: 4%;
  color: white;
  text-shadow: 0px 1px 4px #000, 0px 2px 4px #000;
}

.shashka-news-source {
  position: absolute;
  top: 4%;
  right: 4%;
  color: white;
  text-shadow: 0px 1px 4px #000, 0px 2px 4px #000;
}

.image-card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(-45deg, #252032, #8672b8);
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #fff;
}

.image-card.cat-is::after {
  background: red; /* or a specific gradient with red */
}

.image-card.cat-domestic::after {
  background: linear-gradient(90deg, #ee451e, #fd7c29e0); /* or a specific gradient with green */
}

@media only screen and (max-width: 1540px) {
  .image-card,
  .image-card-placeholder {
    height: 300px !important;
  }
}

img.category-news-image {
  width: 85px;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .horizontal.mm-card {
    width: 21rem !important;
    height: 105px;
  }
  .vertical.mm-card {
    width: 21rem !important;
  }
  .image-card,
  .image-card-placeholder {
    width: 20rem;
  }
  .icard-mid {
    padding: 5px !important;
  }
  .overflow-hidden.ng-star-inserted {
    overflow: unset !important;
  }
}

/* Dawood's Class */
.textGradientVariable::after {
  background: var(--text-gradient1) !important;
}
