<div class="container-big position-relative">
    <div class="video-bg">
        <video class="login-video-animated" src="../../../../../assets/news-img/Login-Animation.mp4" muted autoplay
            loop ></video>
    </div>
    <div class="login-container d-flex flex-column">
        <div class="logo-port mt-4">
            <img class="login-gif-logo" src="../../../../../assets/news-img/main-logo-gif.gif" alt="">
            <img class="login-zambeel" src="../../../../../assets/news-img/zambeel-login.png" alt="">
        </div>
        <div class="login-port d-flex justify-content-center">
            <form class="login-form pd-20 d-flex flex-column" action="">
                <img class="gradient-border" src="../../../../../assets/news-img/gradient-border.png" alt="">
                <div class="form-head">
                    <p class="f-24 fw-700 gradient1-text m-0">log in Your account!</p>
                    <p class="f-16 fw-500 login-sub m-0">Please log in to your account</p>
                </div>
                <div class="inputs d-flex flex-column rg-10 mt-3">
                    <label class="f-16 fw-500" for="username">Username ID</label>
                    <input class="f-16 pd-16 fw-500" type="text" placeholder="Username Id">
                    <label class="f-16 fw-500" for="password">Password</label>
                    <input class="f-16 pd-16 fw-500" type="password" placeholder="Password">
                </div>
                <button class="mt-5 login-btn pd-16 f-22 fw-700">Log In</button>
                <a class="f-14 text-center mt-2 fw-500 forget-pass" href="">Forgot Password</a>
            </form>
        </div>
        <div class="end-port d-flex flex-column align-items-center mb-4">
            <img class="sfw-logo" src="../../../../../assets/news-img/sfw.png" alt="">
            <p class="f-14 fw-600 m-0 powered">Powered By</p>
            <p class="f-30 fw-800 m-0 sfw">SFW</p>
        </div>
    </div>
</div>