<!--///// News Header //////-->
<app-news-header></app-news-header>


<!-- ///// News Header End ///// -->


<!-- ///// News catagory MIL body ///// -->


<div class="container-big news-body position-relative z-index0 scrollbar-news overflow-visible">
    <div class="d-flex align-items-center justify-content-between">
        <div class="back-button d-flex w-max align-items-center cg-8 py-3 mouse"
            (click)="goBack()">
            <i class="fa-solid fa-arrow-left fade-text f-22"></i>
            <p class="fade-text f-20 fw-600">Back</p>
        </div>
        <div type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadmap?this.getMap(null,'m2m'):'';loadmap=false">
            <img class="" src="/assets/news-img/view-map-icon.png" alt="">
        </div>
    </div>

    <div class="background-lines back-position1"></div>
    <div class="background-lines back-position2"></div>
    <!-- MIL Body -->
    <div class="explore-body">
        <!-- Section hero intl/M2M  -->
        <section class="intl-hero m2m-hero pd-32 inland-gradient d-flex cg-16 position-relative z-index2">
            <div class="g2g-talks ia-right1 d-flex flex-column">
                <div class="w-100 h-100 d-flex flex-column justify-content-between rg-10">
                    <div class="ia-top">
                        <div class="mcard-head d-flex w-100 justify-content-between">
                            <div
                                class="section-head-nav d-flex flex-column rg-10 justify-content-between align-items-center w-100 position-relative">
                                <div class="sn-left d-flex justify-content-between cg-16 w-100">
                                    <div class="w-30 m2m d-flex align-center justify-content-center hl-head">
                                        <p class="me-2 f-22 fw-700 text-center">Parliament</p>
                                    </div>
                                    <div class="sn-top w-25">
                                        <div class="search d-flex align-items-center w-fit-content ms-auto">
                                            <input class="header-search f-16 no-bg-color w-80" type="text" placeholder="Search"
                                                [(ngModel)]="keywords['parliament']" (keyup.enter)="fetch_sub_news('parliament')" 
                                                (keyup)="!keywords['parliament']?fetch_sub_news('parliament'):''">
                                            <img class="hs-image mouse" src="../../../../../assets/news-img/search-icon.svg" alt=""
                                                (click)="fetch_sub_news('parliament')" />
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-reverse-row justify-content-end cg-24 w-100">
                                    <div class="sn-bottom d-flex justify-content-end align-items-center cg-24 w-75">
                                        <div class="form-check p-0">
                                            <app-news-filter context="parliament" [date]="Dates['parliament']" (onChange)="changeFilter($event)"></app-news-filter>
                                        </div>
                                        <div class="position-relative">
                                            <img src="../../../../../assets/news-img/calendar.svg" alt="">
                                            <p-calendar class="position-absolute right-0 top-0 z-index3" [(ngModel)]="multiselect_date['parliament']"
                                                (ngModelChange)="fetch_sub_news('parliament')" [showButtonBar]="true"
                                                (onClearClick)="multiselect_date['parliament']='';Dates['parliament']='latest';fetch_sub_news('parliament')" [showIcon]="true"
                                                [showTime]="false">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-body">
                        <div class="m2m-card">
                            <div class=" pd-8 d-flex flex-column layout-changer rg-16 overflow-y-auto scrollbar-news height-28"
                              
                                (scroll)="checkScrolled($event,'parliament','parliament')">
                                <ng-container *ngIf="!api.newsList.parliament?.length 
                                    && loading?.parliament">
                                        <div class="placeholder-glow mb-2" *ngFor="let a of [1,1,1,1,1,1,1]">
                                            <div class="d-flex gap-3 px-2 py-3 placeholder rounded-3" 
                                                style="background-color: #b1b1b1;">
                                                <div class="col-3 placeholder bg-secondary p-0 rounded-3" style="height: 5rem;"></div>
                                                <div class="w-full d-flex flex-column">
                                                    <div class="placeholder bg-secondary rounded p-0" style="height: 1.5rem;"></div>
                                                    <div class="placeholder bg-secondary mt-2 rounded p-0" style="min-height: 0.6rem;"></div>
                                                    <div class="placeholder bg-secondary mt-1 rounded p-0" style="min-height: 0.6rem;"></div>
                                                </div>
                                            </div>
                                        </div>
                                </ng-container>
                                <p *ngIf="!api.newsList.parliament?.length 
                                    && !loading?.parliament"
                                    class="custom-nodatafound text-center p-3 w-full bg-light rounded-3 mt-4">No Data Found</p>
                                <ng-container *ngFor="let news of api.newsList.parliament">
                                    <app-mm-card [cat]="cat" [news]="news" [corner]="corner"></app-mm-card>

                                </ng-container>
                                <app-spinner hideText="true" *ngIf="lazy_loader['parliament']"></app-spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bilereral-corner x-up-right d-flex flex-column justify-content-between rg-10">
                <div class=" x-up-head">
                    <div class="ia-top">
                        <div class="mcard-head d-flex w-100 justify-content-between">
                            <div
                                class="section-head-nav d-flex flex-column rg-10 justify-content-between align-items-center w-100 position-relative">
                                <div class="sn-left d-flex justify-content-between cg-16 w-100">
                                    <div class="m2m d-flex align-center justify-content-center hl-head">
                                        <p class="me-2 f-22 fw-700 text-center">Governance</p>
                                    </div>
                                    <div class="sn-top w-25">
                                        <div class="search d-flex align-items-center w-fit-content ms-auto">
                                            <input class="header-search f-16 no-bg-color w-80" type="text" placeholder="Search"
                                                    [(ngModel)]="keywords['governance']" (keyup.enter)="fetch_sub_news('governance')" 
                                                    (keyup)="!keywords['governance']?fetch_sub_news('governance'):''">
                                            <img class="hs-image mouse" src="../../../../../assets/news-img/search-icon.svg" alt=""
                                                (click)="fetch_sub_news('governance')" />
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-reverse-row justify-content-between cg-24 w-100">
                                    <div class="sn-bottom d-flex justify-content-end align-items-center cg-24 w-100">
                                        <div class="form-check p-0">
                                            <app-news-filter context="governance" [date]="Dates['governance']" (onChange)="changeFilter($event)"></app-news-filter>
                                        </div>
                                        <div class="position-relative">
                                            <img src="../../../../../assets/news-img/calendar.svg" alt="">
                                            <p-calendar class="position-absolute right-0 top-0 z-index3" [(ngModel)]="multiselect_date['governance']"
                                                (ngModelChange)="fetch_sub_news('governance')" [showButtonBar]="true"
                                                (onClearClick)="multiselect_date['governance']='';Dates['governance']='latest';fetch_sub_news('governance')" [showIcon]="true"
                                                [showTime]="false">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x-up-body d-flex cg-12 rg-10">
                    <div class="xc-left w-100">
                        <div class="xc-body blury-bg mt-3 pd-8 m-height height-28">
                            <div class="xc-nav">
                                <ul class="nav nav-pills mb-3 cg-10 flex-nowrap" id="pills-tab" role="tablist">
                                    <li class="nav-item w-100" role="presentation">
                                        <button class="nav-link active w-100 text-nowrap" id="pills-indoChina-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-indoChina" type="button"
                                            role="tab" aria-controls="pills-indoChina"
                                            aria-selected="true">X-hair</button>
                                    </li>
                                    <li class="nav-item w-100" role="presentation">
                                        <button class="nav-link w-100 text-nowrap" id="pills-indoUs-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-indoUs" type="button"
                                            role="tab" aria-controls="pills-indoUs"
                                            aria-selected="false">Govt Policies</button>
                                    </li>
                                    <!-- <li class="nav-item w-100" role="presentation">
                                        <button class="nav-link w-100 text-nowrap" id="pills-indoRussia-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-indoRussia" type="button"
                                            role="tab" aria-controls="pills-indoRussia"
                                            aria-selected="false">Notifications/Appts</button>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="xc-tabs">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-indoChina" role="tabpanel"
                                        aria-labelledby="pills-indoChina-tab" tabindex="0">
                                        <div class="m2m-card pb-3">
                                            <div class=" pd-10 layout-changer d-flex flex-column rg-16 overflow-y-auto scrollbar-news"
                                                style="height: 22.2rem;"
                                                (scroll)="checkScrolled($event,'governance','xhair')">
                                                <ng-container *ngIf="!api.newsList.xhair?.length 
                                                    && loading?.xhair">
                                                        <div class="placeholder-glow mb-2" *ngFor="let a of [1,1,1,1,1,1,1]">
                                                            <div class="d-flex gap-3 px-2 py-3 placeholder rounded-3" 
                                                                style="background-color: #b1b1b1;">
                                                                <div class="col-3 placeholder bg-secondary p-0 rounded-3" style="height: 5rem;"></div>
                                                                <div class="w-full d-flex flex-column">
                                                                    <div class="placeholder bg-secondary rounded p-0" style="height: 1.5rem;"></div>
                                                                    <div class="placeholder bg-secondary mt-2 rounded p-0" style="min-height: 0.6rem;"></div>
                                                                    <div class="placeholder bg-secondary mt-1 rounded p-0" style="min-height: 0.6rem;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </ng-container>
                                                <p *ngIf="!api.newsList.xhair?.length 
                                                    && !loading?.xhair"
                                                    class="custom-nodatafound text-center p-3 w-full bg-light rounded-3 mt-4">No Data Found</p>
                                                <ng-container *ngFor="let news of api.newsList.xhair">
                                                    <app-mm-card [cat]="cat" [news]="news" [corner]="corner"></app-mm-card>

                                                </ng-container>
                                                <app-spinner hideText="true" *ngIf="lazy_loader['xhair']"></app-spinner>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-indoUs" role="tabpanel"
                                        aria-labelledby="pills-indoUs-tab" tabindex="0">
                                        <div class="m2m-card pb-3">
                                            <div class=" pd-10 layout-changer d-flex flex-column rg-16 overflow-y-auto scrollbar-news"
                                                style="height: 22.2rem;"
                                                (scroll)="checkScrolled($event,'governance','policies_and_holidays')">
                                                <ng-container *ngIf="!api.newsList.policies_and_holidays?.length 
                                                    && loading?.policies_and_holidays">
                                                        <div class="placeholder-glow mb-2" *ngFor="let a of [1,1,1,1,1,1,1]">
                                                            <div class="d-flex gap-3 px-2 py-3 placeholder rounded-3" 
                                                                style="background-color: #b1b1b1;">
                                                                <div class="col-3 placeholder bg-secondary p-0 rounded-3" style="height: 5rem;"></div>
                                                                <div class="w-full d-flex flex-column">
                                                                    <div class="placeholder bg-secondary rounded p-0" style="height: 1.5rem;"></div>
                                                                    <div class="placeholder bg-secondary mt-2 rounded p-0" style="min-height: 0.6rem;"></div>
                                                                    <div class="placeholder bg-secondary mt-1 rounded p-0" style="min-height: 0.6rem;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </ng-container>
                                                <p *ngIf="!api.newsList.policies_and_holidays?.length 
                                                    && !loading?.policies_and_holidays"
                                                    class="custom-nodatafound text-center p-3 w-full bg-light rounded-3 mt-4">No Data Found</p>
                                                <ng-container *ngFor="let news of api.newsList.policies_and_holidays">
                                                    <app-mm-card [cat]="cat" [news]="news" [corner]="corner"></app-mm-card>

                                                </ng-container>
                                                <app-spinner hideText="true" *ngIf="lazy_loader['policies_and_holidays']"></app-spinner>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-indoRussia" role="tabpanel"
                                        aria-labelledby="pills-indoRussia-tab" tabindex="0">
                                        <div class="m2m-card pb-3">
                                            <div class=" pd-10 layout-changer d-flex flex-column rg-16 overflow-y-auto scrollbar-news"
                                                style="height: 22.2rem;"
                                                (scroll)="checkScrolled($event,'governance','notifications')">
                                                <ng-container *ngIf="!api.newsList.notifications?.length 
                                                    && loading?.notifications">
                                                        <div class="placeholder-glow mb-2" *ngFor="let a of [1,1,1,1,1,1,1]">
                                                            <div class="d-flex gap-3 px-2 py-3 placeholder rounded-3" 
                                                                style="background-color: #b1b1b1;">
                                                                <div class="col-3 placeholder bg-secondary p-0 rounded-3" style="height: 5rem;"></div>
                                                                <div class="w-full d-flex flex-column">
                                                                    <div class="placeholder bg-secondary rounded p-0" style="height: 1.5rem;"></div>
                                                                    <div class="placeholder bg-secondary mt-2 rounded p-0" style="min-height: 0.6rem;"></div>
                                                                    <div class="placeholder bg-secondary mt-1 rounded p-0" style="min-height: 0.6rem;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </ng-container>
                                                <p *ngIf="!api.newsList.notifications?.length 
                                                    && !loading?.notifications"
                                                    class="custom-nodatafound text-center p-3 w-full bg-light rounded-3 mt-4">No Data Found</p>
                                                <ng-container *ngFor="let news of api.newsList.notifications">
                                                    <app-mm-card [cat]="cat" [news]="news" [corner]="corner"></app-mm-card>

                                                </ng-container>
                                                <app-spinner hideText="true" *ngIf="lazy_loader['notifications']"></app-spinner>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section 2 Iran & AFG Corner and Regional Engagement  -->
        <section class="section-3 inland-activities inland-gradient d-flex cg-16 rg-16 pd-32 position-relative z-index2">
            <div class="inland-right  d-flex cg-16 w-50">
                <div class="indo-china d-flex flex-column rg-16 w-100">
                    <div class="w-100">
                        <div class="ia-top">
                            <div class="mcard-head d-flex w-100 justify-content-between">
                                <div
                                    class="section-head-nav d-flex flex-column rg-10 justify-content-between align-items-center w-100 position-relative">
                                    <div class="sn-left d-flex justify-content-between cg-16 w-100">
                                        <div class="w-50 m2m d-flex align-center justify-content-center hl-head">
                                            <p class="me-2 f-22 fw-700 text-center">Judiciary</p>
                                        </div>
                                        <div class="sn-top w-25">
                                            <div class="search d-flex align-items-center w-fit-content ms-auto">
                                                <input class="header-search f-16 no-bg-color w-80" type="text" placeholder="Search"
                                                    [(ngModel)]="keywords['judiciary']" (keyup.enter)="fetch_sub_news('judiciary')" 
                                                    (keyup)="!keywords['judiciary']?fetch_sub_news('judiciary'):''">
                                                <img class="hs-image mouse" src="../../../../../assets/news-img/search-icon.svg" alt=""
                                                    (click)="fetch_sub_news('judiciary')" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-reverse-row justify-content-end cg-24 w-100">
                                        <div
                                            class="sn-bottom d-flex justify-content-end align-items-center cg-24 w-50">
                                            <div class="form-check p-0">
                                                <app-news-filter context="judiciary" [date]="Dates['judiciary']" (onChange)="changeFilter($event)"></app-news-filter>
                                            </div>
                                            <div class="position-relative">
                                                <img src="../../../../../assets/news-img/calendar.svg" alt="">
                                                <p-calendar class="position-absolute right-0 top-0 z-index3" [(ngModel)]="multiselect_date['judiciary']"
                                                    (ngModelChange)="fetch_sub_news('judiciary')" [showButtonBar]="true"
                                                    (onClearClick)="multiselect_date['judiciary']='';Dates['judiciary']='latest';fetch_sub_news('judiciary')" [showIcon]="true"
                                                    [showTime]="false">
                                                </p-calendar>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pc-body  mt-3">
                            <div class="m2m-card pb-3">
                                <div class=" pd-10 layout-changer d-flex flex-column rg-16 overflow-y-auto judiciary-body scrollbar-news"
                                   
                                    (scroll)="checkScrolled($event,'judiciary','judiciary')">
                                    <ng-container *ngIf="!api.newsList.judiciary?.length 
                                        && loading?.judiciary">
                                            <div class="placeholder-glow mb-2" *ngFor="let a of [1,1,1,1,1,1,1]">
                                                <div class="d-flex gap-3 px-2 py-3 placeholder rounded-3" 
                                                    style="background-color: #b1b1b1;">
                                                    <div class="col-3 placeholder bg-secondary p-0 rounded-3" style="height: 5rem;"></div>
                                                    <div class="w-full d-flex flex-column">
                                                        <div class="placeholder bg-secondary rounded p-0" style="height: 1.5rem;"></div>
                                                        <div class="placeholder bg-secondary mt-2 rounded p-0" style="min-height: 0.6rem;"></div>
                                                        <div class="placeholder bg-secondary mt-1 rounded p-0" style="min-height: 0.6rem;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                    </ng-container>
                                    <p *ngIf="!api.newsList.judiciary?.length 
                                        && !loading?.judiciary"
                                        class="custom-nodatafound text-center p-3 w-full bg-light rounded-3 mt-4">No Data Found</p>
                                    <ng-container *ngFor="let news of api.newsList.judiciary">
                                        <app-mm-card [cat]="cat" [news]="news" [corner]="corner" buttonStyle="long"></app-mm-card>

                                    </ng-container>
                                    <app-spinner hideText="true" *ngIf="lazy_loader['judiciary']"></app-spinner>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r-d inland-left w-50  d-flex flex-column justify-content-between">
                <div class="ia-top">
                    <div class="mcard-head d-flex w-100 justify-content-between">
                        <div
                            class="section-head-nav d-flex flex-column rg-10 justify-content-between align-items-center w-100 position-relative">
                            <div class="sn-left d-flex justify-content-between cg-16 w-100">
                                <div class="w-50 m2m d-flex align-center justify-content-center hl-head">
                                    <p class="me-2 f-22 fw-700 text-center">Eco & Fin</p>
                                </div>
                                <div class="sn-top w-25">
                                    <div class="search d-flex align-items-center w-fit-content ms-auto">
                                        <input class="header-search f-16 no-bg-color w-80" type="text" placeholder="Search"
                                            [(ngModel)]="keywords['economy']" (keyup.enter)="fetch_sub_news('economy')" 
                                            (keyup)="!keywords['economy']?fetch_sub_news('economy'):''">
                                        <img class="hs-image mouse" src="../../../../../assets/news-img/search-icon.svg" alt=""
                                            (click)="fetch_sub_news('economy')" />
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-reverse-row justify-content-end cg-24 w-100">
                                <div class="sn-bottom d-flex justify-content-end align-items-center cg-24 w-75">
                                    <div class="form-check p-0">
                                        <app-news-filter context="economy" [date]="Dates['economy']" (onChange)="changeFilter($event)"></app-news-filter>
                                    </div>
                                    <div class="position-relative">
                                        <img src="../../../../../assets/news-img/calendar.svg" alt="">
                                        <p-calendar class="position-absolute right-0 top-0 z-index3" [(ngModel)]="multiselect_date['economy']"
                                            (ngModelChange)="fetch_sub_news('economy')" [showButtonBar]="true"
                                            (onClearClick)="multiselect_date['economy']='';Dates['economy']='latest';fetch_sub_news('economy')" [showIcon]="true"
                                            [showTime]="false">
                                        </p-calendar>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="pinki-gradient mt-3 position-relative z-index1">
                    <div class="pd-16">
                        <div class="ia-body mt-auto cg-16 rg-16 w-100 scrollbar-news "
                            (scroll)="checkScrolled($event,'economy','economy')">
                            <ng-container *ngIf="!api.newsList.economy?.length 
                                && loading?.economy">
                                <div class="placeholder-glow" *ngFor="let a of [1,1,1,1,1,1,1]">
                                    <div class="d-flex gap-3 px-2 py-3 placeholder rounded-3 image-card-placeholder" 
                                        style="background-color: #b1b1b1;">
                                        <div class="w-full d-flex flex-column justify-content-between">
                                            <div class="d-flex justify-content-between">
                                                <div class="placeholder col-3 rounded bg-secondary"></div>
                                                <div class="placeholder col-3 rounded bg-secondary"></div>
                                            </div>
                                            <div class="w-full d-flex flex-column">
                                                <div class="placeholder bg-secondary rounded p-0" style="height: 1.5rem;"></div>
                                                <div class="placeholder bg-secondary mt-2 rounded p-0" style="min-height: 0.6rem;"></div>
                                                <div class="placeholder bg-secondary mt-1 rounded p-0" style="min-height: 0.6rem;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <p *ngIf="!api.newsList.economy?.length 
                                && !loading?.economy"
                                class="custom-nodatafound text-center p-3 w-full bg-light rounded-3 mt-4">No Data Found</p>
                            <ng-container *ngFor="let news of api.newsList.economy">
                                <app-mm-card [cat]="cat" [news]="news" [corner]="corner" type="image"></app-mm-card>
                            </ng-container>
                            <app-spinner hideText="true" *ngIf="lazy_loader['economy']"></app-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Last section Articles, X-up corner(Tweets and rending now)  -->
        <section class="section-last xup-corner d-flex cg-16 pd-32 flex-column gap-3 position-relative z-index2">
            <div class="articles-left d-flex flex-column rg-10">
                <div class="article-head">
                    <div class="ia-top">
                        <div class="mcard-head d-flex w-100 justify-content-between">
                            <div
                                class="section-head-nav d-flex flex-column rg-10 justify-content-between align-items-center w-100 position-relative">
                                <div class="sn-left d-flex justify-content-between cg-16 w-100">
                                    <div class="m2m d-flex align-center justify-content-center hl-head">
                                        <p class="me-2 f-22 fw-700 text-center">Articles</p>
                                    </div>
                                    <div class="sn-top w-25">
                                        <div class="search d-flex align-items-center w-fit-content ms-auto">
                                            <input class="header-search f-16 no-bg-color w-80" type="text" placeholder="Search"
                                                [(ngModel)]="keywords_['editorial']" (keyup.enter)="getEditorials()"
                                                (keyup)="!keywords_['editorial']?getEditorials():''">
                                            <img class="hs-image mouse" src="../../../../../assets/news-img/search-icon.svg" alt=""
                                                (click)="getEditorials()">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-reverse-row justify-content-between cg-24 w-100">
                                    <div class="sn-bottom d-flex justify-content-end align-items-center cg-24 w-100">
                                        <div class="form-check">
                                            <app-news-filter context="editorial" [date]="Dates_['editorial']" (onChange)="changeFilter_($event)"></app-news-filter>
                                        </div>
                                        <div class="position-relative">
                                            <img src="../../../../../assets/news-img/calendar.svg" alt="">
                                            <p-calendar class="position-absolute right-0 top-0 z-index3"
                                                [(ngModel)]="multiselect_date_['editorial']"
                                                (ngModelChange)="filter_report_date('editorial')" [showButtonBar]="true"
                                                (onClearClick)="multiselect_date_['editorial']='';Dates_['editorial']='latest';getEditorials()"
                                                [showIcon]="true" [showTime]="false">
                                            </p-calendar>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-body d-flex cg-12">
                    <div class="al-right w-100">
                        <div class="card1 story-card w-100 no-border">
                            <!-- custom loader -->
                            <!-- <div class="custom-skeleton" aria-hidden="true" >
                                        <div class="placeholder-glow mt-2" *ngFor="let l of [1,1,1,1,1,1,1,1,1,1]">
                                            <h4 class="bg-secondary placeholder col-12 mb-0"></h4>
                                            <p class="d-flex justify-content-between col-12 p-0 mt-2">
                                                <span class="placeholder col-5 p-0" style="min-height:auto;height:8px;"></span>
                                                <span class="placeholder col-2 p-0" style="min-height:auto;height:8px;"></span>
                                            </p>
                                        </div>
                                    </div> -->
                            <!-- custom loader -->
            
                            <div class="shashka-bottom mt-2 scrollbar-news overflow-y-auto" style="height: 32rem;">
                                <div class="custom-skeleton" aria-hidden="true"
                                    *ngIf="!editorialList.length && !loader_flag.editorial">
                                    <div class="placeholder-glow mt-2" *ngFor="let l of [1,1,1,1,1,1,1,1,1,1]">
                                        <h4 class="bg-secondary placeholder col-12 mb-0"></h4>
                                        <p class="d-flex justify-content-between col-12 p-0 mt-2">
                                            <span class="placeholder col-5 p-0" style="min-height:auto;height:8px;"></span>
                                            <span class="placeholder col-2 p-0" style="min-height:auto;height:8px;"></span>
                                        </p>
                                    </div>
                                </div>
                                <ul class="shashka-list pe-1 ps-0">
                                    <div class="overflow-hidden" *ngFor="let news of editorialList;index as i">
                                        <li style="list-style-type: none;">
                                            <div class="shashka-mid d-flex flex-column rg-8 mt-3">
                                                <div class="curvy-image position-relative overflow-hidden rounded-4"
                                                    (click)="navigate('/editorial-details',corner,news.id)">
                                                    <img [src]="news.image"
                                                        onerror='this.src="../../../../../assets/images/noimg.png"' alt="">
                                                    <p class="pasted-text f-12 manrope truncate-text2 fw-700 text-white text-gradient1 mouse"
                                                        [innerHTML]="news.title"></p>
                                                    <img class="link-icon mouse" src="../../../../../assets/news-img/link-icon.png"
                                                        alt="" (click)="gotoLink(news.link,$event)">
                                                    <p class="shashka-d-time f-12 manrope fw-600">{{news.published_date}}</p>
                                                    <p class="shashka-news-source f-12 manrope fw-600 ">Source: {{news.source}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- <li class="pe-1 ms-4" *ngIf="!news.image">
                                            <p class="manrope f-17 fw-700 text-black text-truncate w-full mouse"
                                                (click)="navigate('/editorial-details',corner,news.id)" [innerHTML]="news.title">
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <p class="f-12 manrope fw-500 text-black text-opacity"> {{news.published_date}}</p>
                                                <p class="f-12 manrope fw-500 text-black text-opacity">{{news.source}}</p>
                                            </div>
                                        </li> -->
                                    </div>
                                </ul>
                                <p *ngIf="!editorialList.length && loader_flag.editorial" id="army_notfound"
                                    class="custom-nodatafound text-center p-3 w-full bg-light rounded-3 mt-4">No Data Found</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="x-up-right d-flex flex-column justify-content-between rg-10">
                <div class="x-up-head">
                    <div class="ia-top">
                        <div class="mcard-head d-flex w-100 justify-content-between">
                            <div
                                class="section-head-nav d-flex flex-column rg-10 justify-content-between align-items-center w-100 position-relative">
                                <div class="sn-left d-flex justify-content-between cg-16 w-100">
                                    <div class="m2m d-flex align-center justify-content-center hl-head">
                                        <p class="me-2 f-22 fw-700 text-center">X-UP Corner</p>
                                    </div>
                                    <div class="sn-top w-25">
                                        <div class="search d-flex align-items-center w-fit-content ms-auto">
                                            <input class="header-search f-16 no-bg-color w-80" type="text" placeholder="Search"
                                                [(ngModel)]="keywords_['tweet']" (keyup.enter)="fetch_twitter_data()" (keyup)="!keywords_['tweet']?fetch_twitter_data():''">
                                            <img class="hs-image mouse" src="../../../../../assets/news-img/search-icon.svg" alt=""
                                                (click)="fetch_twitter_data()">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-reverse-row justify-content-between cg-24 w-100">
                                    <div class="sn-bottom d-flex justify-content-end align-items-center cg-24 w-100">
                                        <div class="form-check p-0">
                                            <app-news-filter context="tweet" [date]="Dates_['tweet']" (onChange)="changeFilter_($event)"></app-news-filter>
                                        </div>
                                        <div class="position-relative">
                                            <img src="../../../../../assets/news-img/calendar.svg" alt="">
                                            <p-calendar class="position-absolute right-0 top-0 z-index3" [(ngModel)]="multiselect_date_['tweet']"
                                                (ngModelChange)="filter_report_date('tweet')" [showButtonBar]="true"
                                                (onClearClick)="multiselect_date_['tweet']='';Dates_['tweet']='latest';fetch_twitter_data()"
                                                [showIcon]="true" [showTime]="false">
                                            </p-calendar>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x-up-body d-flex cg-12 bluish-gradient pd-8 rg-10">
                    <div class="xc-left w-50">
                        <div class="xc-head d-flex justify-content-center">
                            <a class="text-black text-center f-24 sapceGrotesk fw-700 text-capitalize">Tweets </a>
                        </div>
                        <div class="xc-body blury-bg mt-3 pd-8 d-flex flex-column height-28">
                            <div class="xc-nav position-relative">
                                <i class="position-absolute left-0 fa fa-chevron-left mouse" (click)="api.scrollX(h_scroller,-400)" style="top: 6px;"></i>
                                <i class="position-absolute right-0 fa fa-chevron-left mouse" (click)="api.scrollX(h_scroller,400)" style="top: 6px;transform: rotate(180deg);"></i>
                                <ul #h_scroller class="nav d-flex flex-row nav-pills mb-3 justify-content-between flex-nowrap cg-8" id="pills-tab" role="tablist">
                                    <ng-container *ngFor="let key of twitter_internal_subcats; let i = index;">
                                        <li class="nav-item" role="presentation">
                                          <button [classList]="'nav-link '+(i==0?'active':'')" [id]="'pills-comd-'+(i+1)+'-tab'" data-bs-toggle="pill" [attr.data-bs-target]="'#pills-comd-'+(i+1)" type="button" role="tab" [attr.aria-controls]="'pills-comd-'+(i+1)" [attr.aria-selected]="i==0">
                                            {{twitter_section_info?.[key]}}
                                        </button>
                                        </li>
                                    </ng-container>
                                  </ul>
                            </div>
                            <div class="xc-tabs h-100 overflow-hidden">
                                  <div class="tab-content h-100" id="pills-tabContent">
                                    <ng-container *ngFor="let key of twitter_internal_subcats; let i = index;">
                                        <div [classList]="'tab-pane h-100 overflow-y-auto scrollbar-news fade '+((i==0)?'show active':'')" 
                                            [id]="'pills-comd-'+(i+1)" role="tabpanel" [attr.aria-labelledby]="'pills-comd-'+(i+1)+'-tab'" [attr.tabindex]="i"
                                            (scroll)="checkScrolled_($event,'tweet',key)">
                                            <div class="card1 story-card w-100 no-border pb-4">
                                                <div class="shashka-mid d-flex flex-column rg-8 scrollbar-news pd-16"
                                                    >
                                                    <ng-container *ngIf="!api.tweetList[key]?.length && !loader_flag.tweet">
                                                        <div class="placeholder-glow mb-1" *ngFor="let l of [1,1,1,1]">
                                                            <div class="placeholder col-12 bg-light rounded-3 p-2">
                                                                <div class="d-flex align-items-center gap-3">
                                                                    <div class="placeholder bg-secondary rounded-circle flex-shrink-0"
                                                                        style="width: 41px; height: 41px;"></div>
                                                                    <div class="d-flex flex-column w-full">
                                                                        <div class="placeholder col-5 bg-secondary p-0 m-0" style="min-height: 10px;">
                                                                        </div>
                                                                        <div class="placeholder col-4 bg-secondary p-0 mt-1" style="min-height: 5px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="mt-3 d-flex flex-column gap-2">
                                                                    <div class="placeholder col-12 p-0 bg-secondary" style="min-height: 8px;"></div>
                                                                    <div class="placeholder col-11 py-0 bg-secondary" style="min-height: 8px;"></div>
                                                                    <div class="placeholder col-12 py-0 bg-secondary" style="min-height: 8px;"></div>
                                                                    <div class="d-flex justify-content-between mt-1">
                                                                        <div class="placeholder col-6 p-0 bg-secondary" style="min-height: 9px;"></div>
                                                                        <div class="placeholder col-1 p-0 bg-secondary" style="min-height: 9px;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <p *ngIf="!api.tweetList[key]?.length && loader_flag.tweet"
                                                        class="custom-nodatafound text-center p-3 w-full bg-light rounded-3">No Data Found</p>
                                                    <ng-container *ngFor="let tweet of api.tweetList[key]">
                                                        <app-twitter-card [cat]="cat" [subCat]="key" [tweet]="tweet" [corner]="corner"></app-twitter-card>
                                                    </ng-container>
                                                    <app-spinner hideText="true" *ngIf="lazy_loader_[key]"></app-spinner>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="xc-right w-50">
                        <div class="xc-head d-flex justify-content-center">
                            <a class="text-black text-center f-24 sapceGrotesk fw-700 text-capitalize">Trending Now </a>
                        </div>
                        <div class="xc-body blury-bg mt-3 overflow-y-auto scrollbar-news">
                            <div class="xc-nav pd-8">
                                <ul class="nav nav-pills mb-3 cg-8 flex-nowrap justify-content-center" id="pills-tab" role="tablist">
                                    <li class="nav-item column-3 w-max" role="presentation">
                                        <!-- <button class="nav-link active w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Hashtags</button> -->
                                      <img src="/assets/news-img/twitter-icon.png" />
                                    </li>
                                    <!-- <li class="nav-item column-3" role="presentation">
                                        <button class="nav-link w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Re-Tweets</button>
                                    </li>
                                    <li class="nav-item column-3" role="presentation">
                                        <button class="nav-link w-100" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Pictures</button>
                                    </li> -->
                                    </ul>
                            </div>
                            <div class="xc-tabs">
                                    <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                        <div class="left-mid-top w-100 d-flex justify-content-between">
                                            <p class="f-14 fw-700 text-black">Top Trends</p>
                                            <p class="f-14 fw-700 text-black">Top Words</p>
                                        </div>
                                        <div class="w-full d-flex scrollbar-news overflow-y-auto">
                                            <ul class="hashtags-list w-60">
                                                <li *ngFor="let hash of trendingHashtagList;index as i" style="height:45px;">
                                                    <div class="list-left d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column rg-5 overflow-hidden">
                                                            <p class="f-10 fw-500 text-black trending-text">{{i+1}} Trending</p>
                                                            <p class="f-16 fw-700 text-black hashtag-text text-truncate w-full mouse"
                                                                (click)="gotoLink('https://twitter.com/search?q='+hash.name?.replace('#','%23'))">
                                                                {{hash.name}}</p>
                                                        </div>
                                                        <i class="fa-solid fa-ellipsis"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="hashtags-list w-40">
                                                <li class="d-flex align-items-center" *ngFor="let word of trendingwordsList"
                                                    style="height:45px;">
                                                    <div class="list-right overflow-hidden">
                                                        <p class="lr-text f-16 fw-500 text-black text-center w-full text-truncate mouse"
                                                            (click)="gotoLink('https://twitter.com/search?q='+word.name)">
                                                            {{word.name}}</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...</div> -->
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </section> 
        <!-- <section class="x-up-section section-last w-100 pb-3">
            
        </section> -->
    </div>

</div>


<!-- Modal for map -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade map-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <div class="modal-head-bg">
                <h1 class="modal-title f-20 text-white spaceGrotesk fw-700" id="exampleModalLabel">
                    World Map
                </h1>
            </div>
            <div class="modal-filter m-auto"> 
                <app-news-filter [context]="'map'" [date]="map_date[map_context]" (onChange)="getMap($event,map_context)"></app-news-filter>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-3 d-flex flex-column rg-10">
            
            <!-- <img src="/assets/news-img/static-map.png" alt=""> -->
            <app-news-map [corner]="corner" [cat]="cat" [loading]="map_loading[map_context]" [locations]="news_locations[map_context]"></app-news-map>
        </div>
      </div>
    </div>
  </div>