<div class="homeContainer">
  <div class="sidebar">
    <div class="logo">
      <img
        src="../../../../../assets/images/zulonlogo.png"
        (click)="backToHome()"
      />
    </div>

    <div class="sources">
      <div
        class="source"
        *ngFor="let source of sourcesList; let i = index"
        (click)="sourcesSelected(i)"
        [class.active]="i === currentSource"
      >
        <div class="image">
          <img [src]="source.image" [alt]="source.name" />
        </div>

        <div class="title">
          <p>
            {{ source.name === "Economist" ? "The Economist" : source.name }}
          </p>
        </div>

        <div
          class="d-none"
          [class.close]="i === currentSource"
          (click)="
            $event.stopImmediatePropagation();
            resetFilters();
            getPremiumSourcesBy()
          "
        >
          X
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="logoTxt">
      <h3>Premium Sources</h3>
    </div>

    <div class="search">
      <input
        type="search"
        id="search"
        placeholder="Search here ..."
        [(ngModel)]="keywords"
        (keyup.enter)="getPremiumSourcesBy()"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        (click)="getPremiumSourcesBy()"
      >
        <path
          d="M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z"
          fill="black"
        />
      </svg>
    </div>
  </div>
  <div class="body" (scroll)="checkScrolled($event)">
    <div
      class="card"
      *ngFor="let editorial of editorialList; let i = index"
      (click)="
        navigate(
          '/editorial-details',
          'premium_editorials',
          editorialList[i].id
        )
      "
    >
      <div class="card-img">
        <img
          [src]="editorial.image"
          [alt]="editorial.title"
          onerror='this.src="../../../../../assets/images/noimg.png"'
        />
      </div>
      <div class="card-info">
        <h3>{{ editorial.title }}</h3>
        <p>
          {{ editorial.description.slice(0, 100) + "..." }}
        </p>
      </div>
      <div class="card-info--extra">
        <p>
          Author Name: <b>{{ editorial.published_by }}</b>
        </p>
        <p>
          <b>{{ editorial.published_date }}</b>
        </p>
      </div>

      <div class="card-source">
        {{ editorial.source }}
      </div>
    </div>
  </div>
  <div class="sidebarRight">
    <div class="durationFilters w-100">
      <div class="filterTxt">
        <p class="label">Duration:</p>

        <p
          class="clearFilter"
          (click)="date = 'latest'; getPremiumSourcesBy()"
          *ngIf="date == '7days' || date == '15days' || date == '1month'"
        >
          Clear
        </p>
      </div>
      <div class="tabs">
        <div
          class="tab"
          (click)="this.date = '7days'; pageNumber = 1; getPremiumSourcesBy()"
          [class.active]="date == '7days'"
        >
          7 days
        </div>
        <div
          class="tab"
          (click)="this.date = '15days'; pageNumber = 1; getPremiumSourcesBy()"
          [class.active]="date == '15days'"
        >
          15 days
        </div>
        <div
          class="tab"
          (click)="this.date = '1month'; pageNumber = 1; getPremiumSourcesBy()"
          [class.active]="date == '1month'"
        >
          1 month
        </div>
      </div>

      <div class="filterTxt">
        <p class="mt-3 label">Custom Date:</p>
        <p
          class="clear"
          (click)="date = 'latest'; datePicker = ''; getPremiumSourcesBy()"
          *ngIf="datePicker"
        >
          Clear
        </p>
      </div>
      <div class="customDate">
        <input
          type="date"
          [(ngModel)]="datePicker"
          (change)="changeDateFormat(); getPremiumSourcesBy()"
        />
      </div>
    </div>

    <div class="authors">
      <div class="filterTxt mt-2">
        <h3>Authors</h3>
        <p
          class="clearFilter"
          (click)="currentAuthor = -1; getPremiumSourcesBy()"
          *ngIf="currentAuthor != -1"
        >
          Clear
        </p>
      </div>

      <div class="authors-list" *ngIf="authorsList?.length > 0">
        <div
          *ngFor="let author of authorsList; let i = index"
          [class.d-none]="!author"
        >
          <input
            type="radio"
            [id]="author"
            name="radio-group"
            (change)="authorSelected(i)"
          />
          <label [for]="author">
            {{ author }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
